.main-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    width: 40%;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    width: 60%;

}