.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.left-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 40vw;
}

.small-white-text {
    color: white;
    font-size: 1rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 60vw;
}

.right-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 34vh;
    background-color: #F9FAFB;
    padding: 0 100px 30px 20px;
}

.black-description {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.right-middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 33vh;
    background-color: white;
    padding: 15px 200px 15px 20px;
    filter: drop-shadow(lightgrey 0 5px 5px);
}

.right-middle h3 {
    color: #212936;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 0;
}

.right-middle div {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.right-middle div p {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.right-middle div p label {
    color: #2F3743;
    font-size: 0.8rem;
    font-weight: bold;
}


.right-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 33vh;
    background-color: #F9FAFB;
    padding: 20px 200px 15px 20px;
}